build/
bin/
out/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

.vscode/*
.history/
*.code-workspace

*.o
*.obj
!assets/**/*.obj

*.so
*.dylib
*.dll

*.a
*.lib

*.exe
*.out
*.app

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride